
<section class="catch">
	<div class="l-container">
		<div class="catch__background">
		</div>
		<div class="l-container">
			<div class="catch__content">
				<div class="catch__content--left">
					<div class="catch__content--left-text">
						<h2>Catch copy text catch copy!! <br>Catch copy text!</h2>
					</div>
					<div class="catch__content--left-secondary">
						<p>sample text sample text sample text sample text<br class="hidden-br">sample text sample text sample text sample<br class="hidden-br">sample text sample text sample text</p>
					</div>
					<div class="catch__content--left-third">
						<p>sample text sample text sample text<br class="hidden-br">sample text sample text sample text sammple</p>
					</div>
				</div>	

				<div class="catch__image">
					<div class="catch__image__inner">	
						<div class="catch__image__inner-left">
							<img src="assets/images/phone(left).png" art="#">
						</div>
					</div>
					<div class="catch__image__inner">
						<div class="catch__image__inner-up">
							<img src="assets/images/phone(up).png" art="#">
						</div>
					</div>					
					<div class="catch__image__inner">				
						<div class="catch__image__inner-right">
							<img src="assets/images/phone(right).png" art="#">
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

