<section class="feature">
	<div class="l-container">
		<div class="feature__container">
			<div id="target_point" class="feature__title">
				<h2>- Feature -</h2>
			</div>
			<div class="fadein" >
			<div class="feature__inner">
				<div class="feature__inner--html">
					<div class="feature__inner--mark">
						<img src="assets/images/mark-red.png">
					</div>
					<div class="feature__inner--text">
					<h4>HTML5</h4>
					<p>sample text sample <br> text sample text <br> sample text sample text</p>	
					</div>
				</div>
				<div class="feature__inner--css">
					<div class="feature__inner--mark">
						<img src="assets/images/mark-blue.png">
					</div>
					<div class="feature__inner--text">
						<h4>CSS3</h4>
						<p>sample text sample <br>text sample text <br> sample text sample text</p>
					</div>
				</div>
				<div class="feature__inner--javascript">
					<div class="feature__inner--mark">
						<img src="assets/images/mark-yellow.png">
					</div>
					<div class="feature__inner--text">
						<h4>JavaScript</h4>
						<p>sample text sample <br>text sample text <br> sample text sample text</p>
					</div>
				</div>
				</div>
			<div class="anchor-left"></div>
			<div class="anchor-right"></div>	
			</div>	
		</div>
	</div>
</section>