<section class="form">
	<div class="f-container">
		<div class="mail-title">
			<h2>- Mail -</h2>
		</div>
		<div class="form-inner">
			<div class="form-left">
				<div class="form-name">
					<input type="text" id="fname" name="name"
					placeholder="Name">
				</div>
				<div class="form-email">
					<input type="text" id="ename"name="ename" placeholder="E-mail">
				</div>
				<div class="form-select">
					<select id="topic" name="topic">
						<option value="none" disabled>Please select your topic</option>
						<option value="mango">mango</option>
						<option value="cholorate">cholorate</option>
						<option value="banana">banana</option>
					</select>
				</div>
			</div>
			<div class="form-right">
				<div class="form-comment">
					<textarea id="comment" name="comment" row="3" cols="30" placeholder="Comments"></textarea>
				</div>
				<div class="form-submit">
					<input type="submit" value="Submit">
				</div>
			</div>
		</div>
	</div>
</section>