<section class="icon-k">
	<div class="l-container">
		<div class="icon-wrapper">
			<div class="icon-list">
				<img class="icon-item" src="assets/images/ibm.png" art="#">
				<img class="icon-item" src="assets/images/Microsoft.png" art="#">
				<img class="icon-item" src="assets/images/twitter.png" art="#" >
				<img class="icon-item"src="assets/images/Facebook.png">
			</div>
		</div>
	</div>
</section>