<section class="news">
	<div class="l-container">
		<div class="news-big-title">
			<h2>- News -</h2>
		</div>
		<div class="news-content">
			<ul class="news-list">
				<li class="news-items">
					<div class="news-article">
						<div class="news-article-left">
							<p class="news-data">06.18</p>
							<h4 class="news-title">News title</h4>
						</div>
						<div class="news-article-right">
							<p><br>sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text...</p>
						</div>
					</div>
				</li>
			</ul>
			<ul class="news-list">
				<li class="news-items">
					<div class="news-article">
						<div class="news-article-left">
							<p class="news-data">06.17</p>
							<h4 class="news-title">News title</h4>
						</div>
						<div class="news-article-right">	
							<p><br>sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text...</p>
						</div>
					</div>
				</li>
			</ul>
			<ul class="news-list">
				<li class="news-items">
					<div class="news-article">
						<div class="news-article-left">
							<p class="news-data">06.16</p>
							<h4 class="news-title">News title</h4>
						</div>
						<div class="news-article-right">
							<p><br>sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text...</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>