<section class="service">
	<div class="l-container">
		<div class="service__content">
			<div class="service__content__title">
				<h2>- Service -</h2>
			</div>
			<div class="service__content__container">
				<div class="service__content__container--left">
					<img src="assets/images/bar-chart.png" art="#">
				</div>
				<div class="service__content__container--right">
					<div class="service__content__container--right-title">
						<h3>2016 our results</h3>
						<div class="service__content__container--right-small">
							<p>sample text sample text sample text sample text <br class="hidden-br">sample text sample text sample text sample <br class="hidden-br">sample text sample text sample text </p>
							<p>sample text sample text sample text <br class="hidden-br">sample text sample text sample text sample text </p>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>