<footer>
	<div class="l-container">
		<div class="footer-inner">
			<div class="left-footer">
			<p>©️2016 Sample</p>
			</div>
			<div class="right-footer">
				<ul>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>