<header class="header" id="myHeader">
  <div class="l-container">
    <div class="header__container">
      <div class="header__inner">
        <a class=header__inner__left>
          <img src="assets/images/logo.png" art="LOGO">
        </a>
        <a class="header__inner__left-sp">
          <p>LOGO</p>
        </a>
        <div class="header__nav__menu id="nav_toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header__nav">
          <ul class="header__nav__inner">
            <li class="header__nav__inner-item">
              <a class="header__nav__inner-link" href="#">
                <span>Top</span>
              </a>
            </li>
            <li class="header__nav__inner-item">
              <a class="header__nav__inner-link" href="#">
                <span>Feature</span>
              </a>
            </li>
            <li class="header__nav__inner-item">
              <a class="header__nav__inner-link" href="#">
                <span>Service</span>
              </a>
            </li>
            <li class="header__nav__inner-item">
              <a class="header__nav__inner-link" href="#">
                <span>News</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</header>