<section class="hero">
	<div class="hero__inner">
		<h1 class="hero__title">Hello world</h1>
		<p class="hero__text">-description text-</p>
	</div>
	<div class="hero__btn">
    	<a id="move_target" class="hero__arrow" href="#target_point"></a>
  	</div>
</section>	