.icon-k{
	padding:50px 0;
}

.icon-item{
	padding:0 0px 0 48px;
}

@media(max-width:1024px){
.icon-item{
	height:32px;

}
.icon-list{
	text-align: center;
}


}
@media(max-width:780px){

.icon-item{
	height:23px;
}




}